html,
body {
  text-align: center;
  background-color: #353535;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

.pageWrapper {
  width: 100%;
  min-height: 600px;
  position: relative;
  height: 100%;
}
.hideValue {
  display: none;
}
div.App {
  width: 1500px;
  height: 750px;
  overflow: hidden;
  border: 1px solid #666;
  position: relative;
}
.App-header h1 {
  text-align: left;
  font-size: 16px;
  padding-left: 30px;
  display: none;
}
.App-header {
  min-height: 20px;
}
.pageWrapper {
  text-align: left;
}
div.upper {
  clear: both;
  width: 100%;
  height: 40%;
}
div.lower {
  border-top: 10px solid #222;
  clear: both;
  width: 100%;
  height: 50%;
  padding-left: 20px;
}
.col1 {
  width: 200px;
  padding: 10px;
}

.col2 {
  width: 200px;
  padding: 10px;
}

.col3 {
  width: 200px;
  padding: 10px;
}
.home .col3 {
  width: 350px;
  padding: 10px;
}
.col4 {
  width: 200px;
  padding: 10px;
}
.colInfo {
  width: 700px;
  padding: 10px;
}

/*buttons*/
div.btn-group,
div.colStatus {
  margin-left: 0px;
  float: left;
  background-color: #252525;
  height: 80%;
  min-width: 100px;
  overflow: auto;
  position: relative;
}
.bucketLeft,
.bucketRight {
  width: 420px;
  padding: 10px;
  display: inline-block;
}
.lower .col1 {
  margin-left: 1px !important;
}
.bucketLeft {
  margin-right: 1px !important;
}
.bucketRight {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
div.pageWrapper > :first-child {
  margin-left: 20px;
}
div.colStatus {
  width: 1100px;
}
#arrow1,
#arrow2,
#arrow3 {
  position: absolute;
  width: 50px;
  height: 300px;
  z-index: 0;
  background-image: url("./arrow.png");
  background-repeat: no-repeat;
  background-position: -20px 0%;
  top: 25%;
  opacity: 0.5;
  background-size: 120%;
}
#arrow1 {
  left: 239px;
}
#arrow2 {
  left: 484px;
}
#arrow3 {
  left: 728px;
}
.btn-group h2 {
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid #555;
}
.btn-group:not(:last-child) {
  margin-right: 25px;
}
.btn-group button {
  color: white;
  cursor: pointer;
  width: 80%;
  height: 40px;
  display: block;
  margin: 15px auto;
  margin-bottom: 1px;
  border: 1px solid #666;
}

.btnGreen {
  background-color: #005919;
  border: 1px solid white;
}
.btnGreen:hover,
.btnGreenDIM,
.btnGreen.active {
  background-color: #253f2c;
  border: 1px solid #fff;
}

.btnBlue {
  background-color: #1769ff;
  border: 1px solid white;
}
.btnBlue:hover,
.btnBlueDim,
.btnBlue.active {
  background-color: #2b4471;
  border: 1px solid white;
}
.btnPurple {
  background-color: #370020;
  border: 1px solid white;
}
.btnPurple:hover,
.btnPurpleDim {
  background-color: #35252e;
  border: 1px solid white;
}

.btnCyan {
  background-color: #00a99c;
  border: 1px solid #999;
}
.btnGrey {
  background-color: #333;
  border: 1px solid #999;
}
.btnCyan:hover,
.btnCyanDim,
.btnCyan.active {
  background-color: #255753;
  border: 1px solid #999;
}
.below {
  background-color: #353535;
  text-align: center;
}
.btn-group a.btnBrowse,
.btn-group a.btnStart {
  width: 80%;
  height: 40px;
  display: block;
  text-align: center;
  word-break: break-word;
  margin: 20px 0 0 18px;
  border: 1px solid white;
  text-decoration: none;
  line-height: 30px;
  font-size: small;
}
a.btnBrowse {
  background-color: #1f2021;
  color: white;
  padding: 0px;
}
a.btnStart {
  background-color: #761912;
  color: white;
}

.btnOrange {
  background-color: #af4900;
  color: white;
}
.btnStriped {
  background-color: #252525;
  border: 2px dashed #666 !important;
}
.btnOrange:hover,
.btnOrangeDim {
  background-color: #573a25;
  color: white;
}
.settingsDiv .col1,
.settingsDiv .col2,
.settingsDiv .col3 {
  display: inline-block;
  width: 200px;
  height: 20px;
  border: 1px solid white;
}
.last {
  font-size: small;
}
/*info column*/
DIV.infoKey,
DIV.infoValue {
  display: inline-block;
  padding: 4px;
  border: 1px solid grey;

  overflow: hidden;
  position: relative;
}

.divider {
  color: #999;
  margin-top: 10px;
}
DIV.infoKey {
  width: 33%;
}
DIV.infoValue {
  width: 60%;
  overflow-x: auto;
}

.hide {
  display: none !important;
}
.show {
  display: block;
}
div.infoItem {
  position: relative;
  cursor: pointer;
}
div.infoItem select {
  height: 20px;
  width: 100%;
}
.help {
  color: black;
  width: 250px;
  height: 100px;
  background-color: darkkhaki;
  border: 1px solid white;
  position: absolute;
  top: 10px;
  left: 120px;
  z-index: 100;
}
div.login select {
  width: 400px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
#rd {
  display: block;
  width: 1500px;
  height: 700px;
  background-image: url("assets/gui1.png");
}

.topmenu {
  text-align: left;
}

.topmenu a {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  border: 1px solid white;
  color: white;
  background-color: black;
  margin: 0 20px 20px 20px;
}
.topmenu select {
  width: 300px;
  height: 40px;
  line-height: 40px;
  border: 1px solid white;
  color: white;
  background-color: black;
  margin-left: 20px;
}

div.addItem {
  background-color: black;
  position: relative;
  top: 50px;
  background-color: #252525;
}

.colInfo .addItem {
  width: 120px;
}
.bucketWrapper {
  width: 100%;
  height: 100%;
}
.subtext {
 text-transform: capitalize;
}
